.container{
    width: 80%;
    margin: 0 auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.danger{
    color: red;
}
.btn{
    float: right;
    margin-bottom: 10px;
}
.msg{
    text-align: center;
    color: orangered;
    font-weight: bold;
}